.card-right-container {
  padding: 1.8rem;
  font-family: "Fira Sans", sans-serif;
  background: var(--dark-background-color);
  width: 50%;
}

.card-right-container h2 {
  font-size: 2.5rem;
  color: var(--primary-color);
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.card-right-container h2,
.card-right-container h3,
.card-right-price {
  font-family: "acquire-regular";
  margin-top: 0;
}

.card-right-container h3,
.card-right-buy-button,
.card-right-total-card-number,
.card-right-price,
.card-right-packs-quantity-number {
  color: var(--white-color);
}

.card-right-container h3 {
  font-size: 1rem;
  margin-bottom: 1.2rem;
}

.card-right-container p {
  font-size: 0.8rem;
  color: var(--grey-color);
  line-height: 140%;
  opacity: 0.7;
  margin: 0;
}

.card-right-buy-button {
  background: var(--secondary-color);
  border-radius: 3px;
  font-weight: 900;
  font-size: 1.1rem;
  letter-spacing: 0.03rem;
  padding: 0.9rem 2.5rem;
  text-transform: uppercase;
  border: none;
}

.card-right-buy-button,
.card-right-packs-increment-quantity-button,
.card-right-packs-decrement-quantity-button {
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.card-right-buy-button:hover,
.card-right-packs-increment-quantity-button:hover,
.card-right-packs-decrement-quantity-button:hover {
  filter: brightness(130%);
}

.card-right-total-card-number {
  font-size: 1.06rem;
}

.card-right-price {
  font-size: 1.6rem;
}

.card-right-total-card-number,
.card-right-price,
.card-right-seperation-div {
  margin-bottom: 2.5rem;
}

.card-right-total-number {
  color: var(--grey-color);
  font-size: 0.8rem;
}

.card-right-seperation-div {
  height: 1px;
  width: 100%;
  background: var(--dark-grey-color);
  margin-top: 2.5rem;
}

.card-right-button-container {
  margin-bottom: 1.1rem;
}

.card-right-packs-quantity-container {
  align-items: center;
  border: 1px solid var(--dark-grey-color);
  padding: 0.5rem 0.9rem;
  color: var(--primary-color);
  font-size: 1.06rem;
  border-radius: 3px;
}

.card-right-button-container,
.card-right-packs-quantity-container {
  display: flex;
  column-gap: 30px;
}

@media (max-width: 899px) {
  .card-right-container {
    margin-top: 2.5rem;
    width: auto;
  }
}

@media (max-width: 420px) {
  .card-right-container h2 {
    line-height: 1.2;
  }
  .card-right-button-container {
    flex-direction: column;
    row-gap: 1.25rem;
  }
  .card-right-packs-quantity-container {
    justify-content: space-between;
  }
}

@media (max-width: 360px) {
  .card-right-container h2 {
    font-size: 2rem;
  }
  
}
