@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@font-face {
  src: url(../src/fonts/Aquire.otf);
  font-family: "acquire-regular";
}

:root {
  --primary-color: #FBA428;
  --secondary-color: #373FC5;
  --grey-color: #D3D3D3;
  --dark-grey-color:#363636;
  --dark-color:#161616;
  --white-color: #ffffff;
  --dark-background-color:rgba(54, 54, 54, 0.4);
}

body {
  margin: 0;
  background: var(--dark-color);
}
